Your task is to make two functions ( max and min, or maximum and minimum, etc., depending on the language ) that receive a list of integers as input, and return the largest and lowest number in that list, respectively.
Examples (Input -> Output)

* [4,6,2,1,9,63,-134,566]         -> max = 566, min = -134
* [-52, 56, 30, 29, -54, 0, -110] -> min = -110, max = 56
* [42, 54, 65, 87, 0]             -> min = 0, max = 87
* [5]                             -> min = 5, max = 5

Notes

    You may consider that there will not be any empty arrays/vectors.

In [4]:
def minimum(arr):
    return min(arr)

def maximum(arr):
    return max(arr)




minimum([4,6,2,1,9,63,-134,566] )

maximum([4,6,2,1,9,63,-134,566] )

566

Write function RemoveExclamationMarks which removes all exclamation marks from a given string.

In [5]:
def remove_exclamation_marks(s):
    return s.replace("!","")

remove_exclamation_marks("Hello World!!!")

'Hello World'

This code does not execute properly. Try to figure out why.

def multiply(a, b):
    a * b

In [7]:
def multiply(a, b):
    answer = a * b 
    
    return answer

multiply(2,1)

2

Complete function saleHotdogs/SaleHotDogs/sale_hotdogs, function accepts 1 parameter:n, n is the number of hotdogs a customer will buy, different numbers have different prices (refer to the following table), return how much money will the customer spend to buy that number of hotdogs.

In [8]:
def sale_hotdogs(n):
    if n < 5:
        price = 100 * n
    elif n < 10 and n >= 5:
        price = 95 * n
    else:
        price = 90 * n
    return price

sale_hotdogs(5)

475

This function should return an object, but it's not doing what's intended. What's wrong?

def mystery():
    results = {
    'sanity': 'Hello'}
    return
    results

In [9]:
def mystery():
    results = {
    'sanity': 'Hello'}
    return results

mystery()

{'sanity': 'Hello'}

Inspired by the development team at Vooza, write the function that

    accepts the name of a programmer, and
    returns the number of lightsabers owned by that person.

The only person who owns lightsabers is Zach, by the way. He owns 18, which is an awesome number of lightsabers. Anyone else owns 0.

Note: your function should have a default parameter.

For example(Input --> Output):

"anyone else" --> 0
"Zach" --> 18

In [10]:
def how_many_light_sabers_do_you_own(name=""):
    if name == "Zach":
        return 18
    else:
        return 0
    
lightsabers = how_many_light_sabers_do_you_own("Zach")

print(lightsabers)

18

Write a function that checks if a given string (case insensitive) is a palindrome.

In [11]:
def is_palindrome(s):
    
    if s.lower() == s.lower()[::-1]:
        return True
    else:
        return False

is_palindrome('racecar')

True

Debugging sayHello function

The starship Enterprise has run into some problem when creating a program to greet everyone as they come aboard. It is your job to fix the code and get the program working again!

Example output:

Hello, Mr. Spock

In [12]:
def say_hello(name):
    return ("Hello, " + name)

say_hello("Mr. Spock")

'Hello, Mr. Spock'

altERnaTIng cAsE <=> ALTerNAtiNG CaSe

Define String.prototype.toAlternatingCase (or a similar function/method such as to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"
"HELLO WORLD".toAlternatingCase() === "hello world"
"hello WORLD".toAlternatingCase() === "HELLO world"
"HeLLo WoRLD".toAlternatingCase() === "hEllO wOrld"
"12345".toAlternatingCase()       === "12345"                   // Non-alphabetical characters are unaffected
"1a2b3c4d5e".toAlternatingCase()  === "1A2B3C4D5E"
"String.prototype.toAlternatingCase".toAlternatingCase() === "sTRING.PROTOTYPE.TOaLTERNATINGcASE"

As usual, your function/method should be pure, i.e. it should not mutate the original string.

In [13]:
def to_alternating_case(string):
    return string.swapcase()

to_alternating_case("hello WORLD")

'HELLO world'

Task:

In this kata, you need to return the number of bytes (aka. memory size) a given object takes up.

Different variable types will be given, but they will all be valid. Also, random generation for strings takes out of Unicode, not the regular 255 ascii letters.

p.s: Don't be afraid to use the internet. It "byte" come in handy :)

In [14]:
import sys

def total_bytes(object):
    return sys.getsizeof(object)

total_bytes(123)

28

Description

We need a function that can transform a string into a number. What ways of achieving this do you know?

Note: Don't worry, all inputs will be strings, and every string is a perfectly valid representation of an integral number.
Examples

"1234" --> 1234
"605"  --> 605
"1405" --> 1405
"-7" --> -7

In [16]:
def string_to_number(s):
    return int(s)
    
string_to_number("1234")

1234

This code should store "codewa.rs" as a variable called name but it's not working. Can you figure out why?

In [17]:
a = "code"
b = "wa.rs"
name = a + b

Write a function that takes a list of strings as an argument and returns a filtered list containing the same elements but with the 'geese' removed.

The geese are any strings in the following array, which is pre-populated in your solution:

  ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]

For example, if this array were passed as an argument:

 ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

Your function would return the following array:

["Mallard", "Hook Bill", "Crested", "Blue Swedish"]

The elements in the returned array should be in the same order as in the initial array passed to your function, albeit with the 'geese' removed. Note that all of the strings will be in the same case as those provided, and some elements may be repeated.

In [19]:
geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
def goose_filter(birds):
    geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
    
    return [bird for bird in birds if bird not in geese]

goose_filter(["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"])

['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']

Trolls are attacking your comment section!

A common way to deal with this situation is to remove all of the vowels from the trolls' comments, neutralizing the threat.

Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".

Note: for this kata y isn't considered a vowel.

In [20]:
def disemvowel(string_):
    vowels = ["A", "E", "I", "O", "U"]
    
    for character in 'AEIOUaeiou':
        string_ = string_.replace(character, "")
    
    return string_

disemvowel("This website is for losers LOL!")

'Ths wbst s fr lsrs LL!'

Task

Given an array of integers, remove the smallest value. Do not mutate the original array/list. If there are multiple elements with the same value, remove the one with a lower index. If you get an empty array/list, return an empty array/list.

Don't change the order of the elements that are left.
Examples

* Input: [1,2,3,4,5], output = [2,3,4,5]
* Input: [5,3,2,1,4], output = [5,3,2,4]
* Input: [2,2,1,2,1], output = [2,2,2,1]

In [21]:
def remove_smallest(numbers):

    num_copy = numbers[:]
    
    if not num_copy:
        return []
    
    minimum = min(num_copy)
    
    
    num_copy.remove(minimum)
    
    return num_copy
    
remove_smallest([1, 2, 3, 4, 5])

[2, 3, 4, 5]

Debug celsius converter

Your friend is traveling abroad to the United States so he wrote a program to convert fahrenheit to celsius. Unfortunately his code has some bugs.

Find the errors in the code to get the celsius converter working properly.

To convert fahrenheit to celsius:

celsius = (fahrenheit - 32) * (5/9)

Remember that typically temperatures in the current weather conditions are given in whole numbers. It is possible for temperature sensors to report temperatures with a higher accuracy such as to the nearest tenth. Instrument error though makes this sort of accuracy unreliable for many types of temperature measuring sensors.

In [22]:


def weather_info (temp):
    c = convert(temp)
    if (c > 0):
        return (str(c) + " is above freezing temperature")
    else:
        return (str(c) + " is freezing temperature")
    
def convert(temperature):
    celsius = (temperature - 32) * (5/9)
   
  
    return celsius

weather_info(50)

'10.0 is above freezing temperature'

Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:

    1 <= month <= 12

In [24]:
def quarter_of(month):
    q1 = [1, 2, 3]
    q2 = [4, 5, 6]
    q3 = [7, 8, 9]
    q4 = [10, 11, 12]
    
    if month in q1:
        return 1
    if month in q2:
        return 2
    if month in q3:
        return 3
    if month in q4:
        return 4
    
quarter_of(3)

1

Your function takes two arguments:

    current father's age (years)
    current age of his son (years)

Сalculate how many years ago the father was twice as old as his son (or in how many years he will be twice as old). The answer is always greater or equal to 0, no matter if it was in the past or it is in the future.

In [25]:
def twice_as_old(dad_years_old, son_years_old):
    difference = son_years_old * 2 
    
    if difference == dad_years_old:
        return 0
        
    elif difference < 0:
        return abs(difference) 
    
    elif difference < dad_years_old:
        return dad_years_old - difference
    
    elif difference > dad_years_old:
        return difference - dad_years_old
    
    else:
        return difference
        
twice_as_old(36, 7)

22

Task

You have:

    a float value that comes from a computation and may have accumulated errors up to ±0.001
    a reference value

    a function approx_equals that compare the two values taking into account loss of precision; the function should return True if and only if the two values are close to each other, the maximum allowed difference is 0.001

The function is bugged and sometimes returns wrong results.

Your task is to correct the bug.

In [26]:
def approx_equals(a, b):
    return abs(a - b) <= 0.001

approx_equals(175.9827, 82.25)

False

You are given the length and width of a 4-sided polygon. The polygon can either be a rectangle or a square.
If it is a square, return its area. If it is a rectangle, return its perimeter.

Example(Input1, Input2 --> Output):

6, 10 --> 32
3, 3 --> 9

Note: for the purposes of this kata you will assume that it is a square if its length and width are equal, otherwise it is a rectangle.

In [27]:
def area_or_perimeter(l , w):
    if l == w:
        answer = l*w 
    elif l != w:
        answer = (l*2) + (w*2)
    
    return answer

area_or_perimeter(4, 4)

16