Your task is to make two functions ( max and min, or maximum and minimum, etc., depending on the language ) that receive a list of integers as input, and return the largest and lowest number in that list, respectively.
Examples (Input -> Output)

* [4,6,2,1,9,63,-134,566]         -> max = 566, min = -134
* [-52, 56, 30, 29, -54, 0, -110] -> min = -110, max = 56
* [42, 54, 65, 87, 0]             -> min = 0, max = 87
* [5]                             -> min = 5, max = 5

Notes

    You may consider that there will not be any empty arrays/vectors.

In [4]:
def minimum(arr):
    return min(arr)

def maximum(arr):
    return max(arr)




minimum([4,6,2,1,9,63,-134,566] )

maximum([4,6,2,1,9,63,-134,566] )

566

Write function RemoveExclamationMarks which removes all exclamation marks from a given string.

In [5]:
def remove_exclamation_marks(s):
    return s.replace("!","")

remove_exclamation_marks("Hello World!!!")

'Hello World'

This code does not execute properly. Try to figure out why.

def multiply(a, b):
    a * b

In [7]:
def multiply(a, b):
    answer = a * b 
    
    return answer

multiply(2,1)

2

Complete function saleHotdogs/SaleHotDogs/sale_hotdogs, function accepts 1 parameter:n, n is the number of hotdogs a customer will buy, different numbers have different prices (refer to the following table), return how much money will the customer spend to buy that number of hotdogs.

In [8]:
def sale_hotdogs(n):
    if n < 5:
        price = 100 * n
    elif n < 10 and n >= 5:
        price = 95 * n
    else:
        price = 90 * n
    return price

sale_hotdogs(5)

475

This function should return an object, but it's not doing what's intended. What's wrong?

def mystery():
    results = {
    'sanity': 'Hello'}
    return
    results

In [9]:
def mystery():
    results = {
    'sanity': 'Hello'}
    return results

mystery()

{'sanity': 'Hello'}

Inspired by the development team at Vooza, write the function that

    accepts the name of a programmer, and
    returns the number of lightsabers owned by that person.

The only person who owns lightsabers is Zach, by the way. He owns 18, which is an awesome number of lightsabers. Anyone else owns 0.

Note: your function should have a default parameter.

For example(Input --> Output):

"anyone else" --> 0
"Zach" --> 18

In [10]:
def how_many_light_sabers_do_you_own(name=""):
    if name == "Zach":
        return 18
    else:
        return 0
    
lightsabers = how_many_light_sabers_do_you_own("Zach")

print(lightsabers)

18

Write a function that checks if a given string (case insensitive) is a palindrome.

In [11]:
def is_palindrome(s):
    
    if s.lower() == s.lower()[::-1]:
        return True
    else:
        return False

is_palindrome('racecar')

True

Debugging sayHello function

The starship Enterprise has run into some problem when creating a program to greet everyone as they come aboard. It is your job to fix the code and get the program working again!

Example output:

Hello, Mr. Spock

In [12]:
def say_hello(name):
    return ("Hello, " + name)

say_hello("Mr. Spock")

'Hello, Mr. Spock'

altERnaTIng cAsE <=> ALTerNAtiNG CaSe

Define String.prototype.toAlternatingCase (or a similar function/method such as to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"
"HELLO WORLD".toAlternatingCase() === "hello world"
"hello WORLD".toAlternatingCase() === "HELLO world"
"HeLLo WoRLD".toAlternatingCase() === "hEllO wOrld"
"12345".toAlternatingCase()       === "12345"                   // Non-alphabetical characters are unaffected
"1a2b3c4d5e".toAlternatingCase()  === "1A2B3C4D5E"
"String.prototype.toAlternatingCase".toAlternatingCase() === "sTRING.PROTOTYPE.TOaLTERNATINGcASE"

As usual, your function/method should be pure, i.e. it should not mutate the original string.

In [13]:
def to_alternating_case(string):
    return string.swapcase()

to_alternating_case("hello WORLD")

'HELLO world'

Task:

In this kata, you need to return the number of bytes (aka. memory size) a given object takes up.

Different variable types will be given, but they will all be valid. Also, random generation for strings takes out of Unicode, not the regular 255 ascii letters.

p.s: Don't be afraid to use the internet. It "byte" come in handy :)

In [14]:
import sys

def total_bytes(object):
    return sys.getsizeof(object)

total_bytes(123)

28

Description

We need a function that can transform a string into a number. What ways of achieving this do you know?

Note: Don't worry, all inputs will be strings, and every string is a perfectly valid representation of an integral number.
Examples

"1234" --> 1234
"605"  --> 605
"1405" --> 1405
"-7" --> -7

In [16]:
def string_to_number(s):
    return int(s)
    
string_to_number("1234")

1234

This code should store "codewa.rs" as a variable called name but it's not working. Can you figure out why?

In [17]:
a = "code"
b = "wa.rs"
name = a + b

Write a function that takes a list of strings as an argument and returns a filtered list containing the same elements but with the 'geese' removed.

The geese are any strings in the following array, which is pre-populated in your solution:

  ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]

For example, if this array were passed as an argument:

 ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

Your function would return the following array:

["Mallard", "Hook Bill", "Crested", "Blue Swedish"]

The elements in the returned array should be in the same order as in the initial array passed to your function, albeit with the 'geese' removed. Note that all of the strings will be in the same case as those provided, and some elements may be repeated.

In [19]:
geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
def goose_filter(birds):
    geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
    
    return [bird for bird in birds if bird not in geese]

goose_filter(["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"])

['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']