Your task is to make two functions ( max and min, or maximum and minimum, etc., depending on the language ) that receive a list of integers as input, and return the largest and lowest number in that list, respectively.
Examples (Input -> Output)

* [4,6,2,1,9,63,-134,566]         -> max = 566, min = -134
* [-52, 56, 30, 29, -54, 0, -110] -> min = -110, max = 56
* [42, 54, 65, 87, 0]             -> min = 0, max = 87
* [5]                             -> min = 5, max = 5

Notes

    You may consider that there will not be any empty arrays/vectors.

In [4]:
def minimum(arr):
    return min(arr)

def maximum(arr):
    return max(arr)




minimum([4,6,2,1,9,63,-134,566] )

maximum([4,6,2,1,9,63,-134,566] )

566

Write function RemoveExclamationMarks which removes all exclamation marks from a given string.

In [5]:
def remove_exclamation_marks(s):
    return s.replace("!","")

remove_exclamation_marks("Hello World!!!")

'Hello World'

This code does not execute properly. Try to figure out why.

def multiply(a, b):
    a * b

In [7]:
def multiply(a, b):
    answer = a * b 
    
    return answer

multiply(2,1)

2

Complete function saleHotdogs/SaleHotDogs/sale_hotdogs, function accepts 1 parameter:n, n is the number of hotdogs a customer will buy, different numbers have different prices (refer to the following table), return how much money will the customer spend to buy that number of hotdogs.

In [8]:
def sale_hotdogs(n):
    if n < 5:
        price = 100 * n
    elif n < 10 and n >= 5:
        price = 95 * n
    else:
        price = 90 * n
    return price

sale_hotdogs(5)

475

This function should return an object, but it's not doing what's intended. What's wrong?

def mystery():
    results = {
    'sanity': 'Hello'}
    return
    results

In [9]:
def mystery():
    results = {
    'sanity': 'Hello'}
    return results

mystery()

{'sanity': 'Hello'}

Inspired by the development team at Vooza, write the function that

    accepts the name of a programmer, and
    returns the number of lightsabers owned by that person.

The only person who owns lightsabers is Zach, by the way. He owns 18, which is an awesome number of lightsabers. Anyone else owns 0.

Note: your function should have a default parameter.

For example(Input --> Output):

"anyone else" --> 0
"Zach" --> 18

In [10]:
def how_many_light_sabers_do_you_own(name=""):
    if name == "Zach":
        return 18
    else:
        return 0
    
lightsabers = how_many_light_sabers_do_you_own("Zach")

print(lightsabers)

18

Write a function that checks if a given string (case insensitive) is a palindrome.

In [11]:
def is_palindrome(s):
    
    if s.lower() == s.lower()[::-1]:
        return True
    else:
        return False

is_palindrome('racecar')

True

Debugging sayHello function

The starship Enterprise has run into some problem when creating a program to greet everyone as they come aboard. It is your job to fix the code and get the program working again!

Example output:

Hello, Mr. Spock

In [12]:
def say_hello(name):
    return ("Hello, " + name)

say_hello("Mr. Spock")

'Hello, Mr. Spock'

altERnaTIng cAsE <=> ALTerNAtiNG CaSe

Define String.prototype.toAlternatingCase (or a similar function/method such as to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"
"HELLO WORLD".toAlternatingCase() === "hello world"
"hello WORLD".toAlternatingCase() === "HELLO world"
"HeLLo WoRLD".toAlternatingCase() === "hEllO wOrld"
"12345".toAlternatingCase()       === "12345"                   // Non-alphabetical characters are unaffected
"1a2b3c4d5e".toAlternatingCase()  === "1A2B3C4D5E"
"String.prototype.toAlternatingCase".toAlternatingCase() === "sTRING.PROTOTYPE.TOaLTERNATINGcASE"

As usual, your function/method should be pure, i.e. it should not mutate the original string.

In [13]:
def to_alternating_case(string):
    return string.swapcase()

to_alternating_case("hello WORLD")

'HELLO world'

Task:

In this kata, you need to return the number of bytes (aka. memory size) a given object takes up.

Different variable types will be given, but they will all be valid. Also, random generation for strings takes out of Unicode, not the regular 255 ascii letters.

p.s: Don't be afraid to use the internet. It "byte" come in handy :)

In [14]:
import sys

def total_bytes(object):
    return sys.getsizeof(object)

total_bytes(123)

28

Description

We need a function that can transform a string into a number. What ways of achieving this do you know?

Note: Don't worry, all inputs will be strings, and every string is a perfectly valid representation of an integral number.
Examples

"1234" --> 1234
"605"  --> 605
"1405" --> 1405
"-7" --> -7

In [16]:
def string_to_number(s):
    return int(s)
    
string_to_number("1234")

1234

This code should store "codewa.rs" as a variable called name but it's not working. Can you figure out why?

In [17]:
a = "code"
b = "wa.rs"
name = a + b

Write a function that takes a list of strings as an argument and returns a filtered list containing the same elements but with the 'geese' removed.

The geese are any strings in the following array, which is pre-populated in your solution:

  ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]

For example, if this array were passed as an argument:

 ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

Your function would return the following array:

["Mallard", "Hook Bill", "Crested", "Blue Swedish"]

The elements in the returned array should be in the same order as in the initial array passed to your function, albeit with the 'geese' removed. Note that all of the strings will be in the same case as those provided, and some elements may be repeated.

In [19]:
geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
def goose_filter(birds):
    geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
    
    return [bird for bird in birds if bird not in geese]

goose_filter(["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"])

['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']

Trolls are attacking your comment section!

A common way to deal with this situation is to remove all of the vowels from the trolls' comments, neutralizing the threat.

Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".

Note: for this kata y isn't considered a vowel.

In [20]:
def disemvowel(string_):
    vowels = ["A", "E", "I", "O", "U"]
    
    for character in 'AEIOUaeiou':
        string_ = string_.replace(character, "")
    
    return string_

disemvowel("This website is for losers LOL!")

'Ths wbst s fr lsrs LL!'

Task

Given an array of integers, remove the smallest value. Do not mutate the original array/list. If there are multiple elements with the same value, remove the one with a lower index. If you get an empty array/list, return an empty array/list.

Don't change the order of the elements that are left.
Examples

* Input: [1,2,3,4,5], output = [2,3,4,5]
* Input: [5,3,2,1,4], output = [5,3,2,4]
* Input: [2,2,1,2,1], output = [2,2,2,1]

In [21]:
def remove_smallest(numbers):

    num_copy = numbers[:]
    
    if not num_copy:
        return []
    
    minimum = min(num_copy)
    
    
    num_copy.remove(minimum)
    
    return num_copy
    
remove_smallest([1, 2, 3, 4, 5])

[2, 3, 4, 5]

Debug celsius converter

Your friend is traveling abroad to the United States so he wrote a program to convert fahrenheit to celsius. Unfortunately his code has some bugs.

Find the errors in the code to get the celsius converter working properly.

To convert fahrenheit to celsius:

celsius = (fahrenheit - 32) * (5/9)

Remember that typically temperatures in the current weather conditions are given in whole numbers. It is possible for temperature sensors to report temperatures with a higher accuracy such as to the nearest tenth. Instrument error though makes this sort of accuracy unreliable for many types of temperature measuring sensors.

In [22]:


def weather_info (temp):
    c = convert(temp)
    if (c > 0):
        return (str(c) + " is above freezing temperature")
    else:
        return (str(c) + " is freezing temperature")
    
def convert(temperature):
    celsius = (temperature - 32) * (5/9)
   
  
    return celsius

weather_info(50)

'10.0 is above freezing temperature'

Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:

    1 <= month <= 12

In [24]:
def quarter_of(month):
    q1 = [1, 2, 3]
    q2 = [4, 5, 6]
    q3 = [7, 8, 9]
    q4 = [10, 11, 12]
    
    if month in q1:
        return 1
    if month in q2:
        return 2
    if month in q3:
        return 3
    if month in q4:
        return 4
    
quarter_of(3)

1

Your function takes two arguments:

    current father's age (years)
    current age of his son (years)

Сalculate how many years ago the father was twice as old as his son (or in how many years he will be twice as old). The answer is always greater or equal to 0, no matter if it was in the past or it is in the future.

In [25]:
def twice_as_old(dad_years_old, son_years_old):
    difference = son_years_old * 2 
    
    if difference == dad_years_old:
        return 0
        
    elif difference < 0:
        return abs(difference) 
    
    elif difference < dad_years_old:
        return dad_years_old - difference
    
    elif difference > dad_years_old:
        return difference - dad_years_old
    
    else:
        return difference
        
twice_as_old(36, 7)

22

Task

You have:

    a float value that comes from a computation and may have accumulated errors up to ±0.001
    a reference value

    a function approx_equals that compare the two values taking into account loss of precision; the function should return True if and only if the two values are close to each other, the maximum allowed difference is 0.001

The function is bugged and sometimes returns wrong results.

Your task is to correct the bug.

In [26]:
def approx_equals(a, b):
    return abs(a - b) <= 0.001

approx_equals(175.9827, 82.25)

False

You are given the length and width of a 4-sided polygon. The polygon can either be a rectangle or a square.
If it is a square, return its area. If it is a rectangle, return its perimeter.

Example(Input1, Input2 --> Output):

6, 10 --> 32
3, 3 --> 9

Note: for the purposes of this kata you will assume that it is a square if its length and width are equal, otherwise it is a rectangle.

In [27]:
def area_or_perimeter(l , w):
    if l == w:
        answer = l*w 
    elif l != w:
        answer = (l*2) + (w*2)
    
    return answer

area_or_perimeter(4, 4)

16

In this kata you should simply determine, whether a given year is a leap year or not. In case you don't know the rules, here they are:

    years divisible by 4 are leap years
    but years divisible by 100 are not leap years
    but years divisible by 400 are leap years

Additional Notes:

    Only valid years (positive integers) will be tested, so you don't have to validate them

Examples can be found in the test fixture.

In [4]:
def isLeapYear(year):
    if (year % 100) == 0 and (year % 400) != 0:
        return False
    elif (year % 400) == 0:
        return True
    elif (year%4) == 0:
        return True
    else:
        return False
    
isLeapYear(2000)

True

Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.

In [5]:
def even_or_odd(number):
    
    
    if (number%2) == 0:
        return "Even"
    elif (number%2) != 0:
        return "Odd"
    
even_or_odd(14)

'Even'

In this simple assignment you are given a number and have to make it negative. But maybe the number is already negative?
Examples

make_negative(1);  # return -1
make_negative(-5); # return -5
make_negative(0);  # return 0

Notes

    The number can be negative already, in which case no change is required.
    Zero (0) is not checked for any specific sign. Negative zeros make no mathematical sense.

In [7]:
def make_negative( number ):
    if number < 0:
        pass
    if number > 0:
        return number - (number*2)
    return number

make_negative(1000)

-1000

Convert number to reversed array of digits

Given a random non-negative number, you have to return the digits of this number within an array in reverse order.
Example(Input => Output):

35231 => [1,3,2,5,3]
0 => [0]

In [9]:
def digitize(n):
    
    nstring = str(n)
    
    numbers = list(nstring)
    
    numbers.reverse()
    
    number_list = list(map(int, numbers))
        
    return number_list

digitize((35231))

[1, 3, 2, 5, 3]

Complete the square sum function so that it squares each number passed into it and then sums the results together.

For example, for [1, 2, 2] it should return 9 because 12+22+22=91^2 + 2^2 + 2^2 = 912+22+22=9.

In [10]:
def square_sum(numbers):
    
    number_list = [(x**2) for x in numbers]
    
    return sum(number_list)

square_sum([0, 3, 4, 5])

50

Make a function that will return a greeting statement that uses an input; your program should return, "Hello, <name> how are you doing today?".

[Make sure you type the exact thing I wrote or the program may not execute properly]

In [12]:
def greet(name):
    
    return f"Hello, {name} how are you doing today?"

greet('Ryan')

'Hello, Ryan how are you doing today?'

It's pretty straightforward. Your goal is to create a function that removes the first and last characters of a string. You're given one parameter, the original string. You don't have to worry with strings with less than two characters.

In [13]:
def remove_char(s):
    
    return s[1:-1]

remove_char('Eloquent')

'loquen'

Write a function that accepts an integer n and a string s as parameters, and returns a string of s repeated exactly n times.
Examples (input -> output)

6, "I"     -> "IIIIII"
5, "Hello" -> "HelloHelloHelloHelloHello"

In [14]:
def repeat_str(repeat, string):
    return (string)*repeat


repeat_str(4, 'a')

'aaaa'

Complete the function that takes a non-negative integer n as input, and returns a list of all the powers of 2 with the exponent ranging from 0 to n ( inclusive ).

In [15]:
def powers_of_two(n):
    
    
    return [2**i for i in range(n+1)]

powers_of_two(4)

[1, 2, 4, 8, 16]

Timmy & Sarah think they are in love, but around where they live, they will only know once they pick a flower each. If one of the flowers has an even number of petals and the other has an odd number of petals it means they are in love.

Write a function that will take the number of petals of each flower and return true if they are in love and false if they aren't.

In [3]:
def lovefunc( flower1, flower2 ):
    flowers = flower1 + flower2
    if (flower2 - flower1)%2 == 0 or (flower1 - flower2)%2 == 0:
        return False
    else:
        return True
    
lovefunc(2,4)

False

Write a function that takes an array of numbers and returns the sum of the numbers. The numbers can be negative or non-integer. If the array does not contain any numbers then you should return 0.

Assumptions

    You can assume that you are only given numbers.
    You cannot assume the size of the array.
    You can assume that you do get an array and if the array is empty, return 0.

In [2]:
def sum_array(a):
    
    return sum(a)

sum_array([1,2,3,4])

10

Complete the method that takes a boolean value and return a "Yes" string for true, or a "No" string for false.

In [18]:
def bool_to_word(boolean):
    if boolean:
        return "Yes"
    else:
        return "No"
    
bool_to_word(True)

'Yes'

Your task is to find the first element of an array that is not consecutive.

By not consecutive we mean not exactly 1 larger than the previous element of the array.

E.g. If we have an array [1,2,3,4,6,7,8] then 1 then 2 then 3 then 4 are all consecutive but 6 is not, so that's the first non-consecutive number.

If the whole array is consecutive then return null2.

The array will always have at least 2 elements1 and all elements will be numbers. The numbers will also all be unique and in ascending order. The numbers could be positive or negative and the first non-consecutive could be either too.

In [20]:
def first_non_consecutive(arr):
    for A in range(len(arr)):
        if A + 1 < len(arr):
            if arr[A] + 1 != arr[A + 1]:
                return arr[A+1]
        
    return None
    
            
first_non_consecutive([1,2,3,4,6,7,8])

6

Complete the solution so that it reverses the string passed into it.

'world'  =>  'dlrow'
'word'   =>  'drow'

In [21]:
def solution(string):
    return (string[::-1])

solution("hello")

'olleh'

Sentence Smash

Write a function that takes an array of words and smashes them together into a sentence and returns the sentence. You can ignore any need to sanitize words or add punctuation, but you should add spaces between each word. Be careful, there shouldn't be a space at the beginning or the end of the sentence!
Example

['hello', 'world', 'this', 'is', 'great']  =>  'hello world this is great'

In [23]:
def smash(words):
    
    sentence = " ".join(words)
    
    return sentence
    
smash(["hello", "amazing", "world"])

'hello amazing world'

Given a string, you have to return a string in which each character (case-sensitive) is repeated once.
Examples (Input -> Output):

* "String"      -> "SSttrriinngg"
* "Hello World" -> "HHeelllloo  WWoorrlldd"
* "1234!_ "     -> "11223344!!__  "

In [24]:
def double_char(s):
    
    result = "" 
    
    for characters in s:
        result += characters * 2
        
    return result

double_char("Hello World")

'HHeelllloo  WWoorrlldd!!'

Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

You can assume that all values are integers. Do not mutate the input array/list.

In [1]:
def invert(lst):
    
    lst = [n-(n*2) for n in lst]
        
    return(lst)

invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

Write a program that returns the girl's age (0-9) as an integer.

Assume the test input string is always a valid string. For example, the test input may be "1 year old" or "5 years old". The first character in the string is always a number.

In [1]:
def get_age(age):
    
    realage = age.split()[0]
    
    return int(realage)

get_age("5 years old")

5

Task:

Given a non-negative integer, 3 for example, return a string with a murmur: "1 sheep...2 sheep...3 sheep...". Input will always be valid, i.e. no negative integers.

In [2]:
def count_sheep(n):
    
    result = ""
    for i in range(1, n+1):
        result += str(i) + " sheep..."
        
        
    return result

count_sheep(3)

'1 sheep...2 sheep...3 sheep...'

Your collegue wrote an simple loop to list his favourite animals. But there seems to be a minor mistake in the grammar, which prevents the program to work. Fix it! :)

If you pass the list of your favourite animals to the function, you should get the list of the animals with orderings and newlines added.

For example, passing in:

animals = [ 'dog', 'cat', 'elephant' ]

will result in:

list_animals(animals) == '1. dog\n2. cat\n3. elephant\n'

In [6]:
def list_animals(animals):
    result = []
    for animal in animals:
        result.append(str(animals.index(animal) + 1) + '. ' + animal + '\n')
    return ''.join(result)

list_animals(['dog','cat','elephant', 'bird'])

'1. dog\n2. cat\n3. elephant\n4. bird\n'

Create a function with two arguments that will return an array of the first n multiples of x.

Assume both the given number and the number of times to count will be positive numbers greater than 0.

Return the results as an array or list ( depending on language ).
Examples

count_by(1,10) #should return [1,2,3,4,5,6,7,8,9,10]
count_by(2,5) #should return [2,4,6,8,10]

In [5]:
def count_by(x, n):
    
    result = []
    
    for i in range(1, n+1):
        
        result.append(i * x)
    
    return result

count_by(1,5)
count_by(2,5)
count_by(3,5)

[3, 6, 9, 12, 15]

Write a function to convert a name into initials. This kata strictly takes two words with one space in between them.

The output should be two capital letters with a dot separating them.

It should look like this:

Sam Harris => S.H

patrick feeney => P.F

In [7]:
def abbrev_name(name):
    
    name_list = name.split()

    initials = [names[0] for names in name_list]


    return ".".join(initials).upper()

abbrev_name("Sam Harris")
abbrev_name("Evan Chris")

'E.C'

Complete the function which takes two arguments and returns all numbers which are divisible by the given divisor. First argument is an array of numbers and the second is the divisor.
Example(Input1, Input2 --> Output)

[1, 2, 3, 4, 5, 6], 2 --> [2, 4, 6]

In [1]:
def divisible_by(numbers, divisor):
    
    listn = []
    for number in numbers:
        if number % divisor == 0:
            listn.append(number)
            
    return listn

divisible_by([1,2,3,4,5,6], 2)

[2, 4, 6]

Write a function to split a string and convert it into an array of words.
Examples (Input ==> Output):

"Robin Singh" ==> ["Robin", "Singh"]

"I love arrays they are my favorite" ==> ["I", "love", "arrays", "they", "are", "my", "favorite"]

In [2]:
def string_to_array(s):
    x = s.split(' ')
    
    return x

string_to_array("CodeWars")

['CodeWars']

Given an array of integers.

Return an array, where the first element is the count of positives numbers and the second element is sum of negative numbers. 0 is neither positive nor negative.

If the input is an empty array or is null, return an empty array.
Example

For input [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15], you should return [10, -65

In [3]:
def count_positives_sum_negatives(arr):
    if arr is None or len(arr) == 0:
        return []

    
    positive = 0
    
    negatives = 0
    
    final = []
    
    count = 0
    
    for x in arr:
        if x > 0:
            positive += 1
        else:
            negatives += x
    
    
    
    return[positive, negatives]

count_positives_sum_negatives([1,2,3,4,5,6,7,8,9,10,-11,-12,-13,-14,-15])

[10, -65]

Write a function that removes the spaces from the string, then return the resultant string.

Examples:

Input -> Output
"8 j 8   mBliB8g  imjB8B8  jl  B" -> "8j8mBliB8gimjB8B8jlB"
"8 8 Bi fk8h B 8 BB8B B B  B888 c hl8 BhB fd" -> "88Bifk8hB8BB8BBBB888chl8BhBfd"
"8aaaaa dddd r     " -> "8aaaaaddddr"

In [1]:
def no_space(x):
    x = x.replace(" ", "")
    return x
    #your code here

no_space('8 j 8   mBliB8g  imjB8B8  jl  B')

'8j8mBliB8gimjB8B8jlB'

Given an array of integers, return a new array with each value doubled.

For example:

[1, 2, 3] --> [2, 4, 6]

In [1]:
def maps(a):
    b = [x * 2 for x in a]

        
    return b

maps([1,2,3])

[2, 4, 6]

Given a non-empty array of integers, return the result of multiplying the values together in order. Example:

[1, 2, 3, 4] => 1 * 2 * 3 * 4 = 24

In [2]:
def grow(arr):
    result = 1

# multiply each element in the list 
    for x in arr:
        result *= x
        
    return result

grow([1,2,3])

6

What if we need the length of the words separated by a space to be added at the end of that same word and have it returned as an array?

Example(Input --> Output)

"apple ban" --> ["apple 5", "ban 3"]
"you will win" -->["you 3", "will 4", "win 3"]

Your task is to write a function that takes a String and returns an Array/list with the length of each word added to each element .

Note: String will have at least one element; words will always be separated by a space.

In [3]:
def add_length(str_):
    count = 0
    
            
    newlist = str_.split(" ")
    
    newnewlist = []

    for x in newlist:
        count += len(x)
        newnewlist.append(x + " " + str(len(x)))
        
    
            

    return newnewlist
        
    
    
    
add_length('you will win')

['you 3', 'will 4', 'win 3']

Take an array and remove every second element from the array. Always keep the first element and start removing with the next element.
Example:

["Keep", "Remove", "Keep", "Remove", "Keep", ...] --> ["Keep", "Keep", "Keep", ...]

None of the arrays will be empty, so you don't have to worry about that!

In [4]:
def remove_every_other(my_list):

    modified_list = my_list[::2]
    

   
        
    return modified_list

remove_every_other(['Hello', 'Hello Again'])

['Hello']

Welcome. In this kata, you are asked to square every digit of a number and concatenate them.

For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1. (81-1-1-81)

Example #2: An input of 765 will/should return 493625 because 72 is 49, 62 is 36, and 52 is 25. (49-36-25)

Note: The function accepts an integer and returns an integer.

Happy Coding!

In [1]:
def square_digits(num):

    charterList = [int(x) for x in str(num)]
    
    charterList2 = [num**2 for num in charterList]
    
    charterList3 = [str(i) for i in charterList2]
    
    

    
    res = int("".join(charterList3))
    
    return res
    
square_digits(9119)

811181

This function should test if the factor is a factor of base.

Return true if it is a factor or false if it is not.
About factors

Factors are numbers you can multiply together to get another number.

2 and 3 are factors of 6 because: 2 * 3 = 6

    You can find a factor by dividing numbers. If the remainder is 0 then the number is a factor.
    You can use the mod operator (%) in most languages to check for a remainder

For example 2 is not a factor of 7 because: 7 % 2 = 1

Note: base is a non-negative number, factor is a positive number.

In [2]:
def check_for_factor(base, factor):
    
    if base % factor == 0:
        return True
    else:
        return False
    

check_for_factor(10,2)

True

Find Mean

Find the mean (average) of a list of numbers in an array.
Information

To find the mean (average) of a set of numbers add all of the numbers together and divide by the number of values in the list.

For an example list of 1, 3, 5, 7

1. Add all of the numbers

1+3+5+7 = 16

2. Divide by the number of values in the list. In this example there are 4 numbers in the list.

16/4 = 4

3. The mean (or average) of this list is 4

In [1]:
def find_average(nums):
    
    r1 = len(nums)
    
    summ = sum(nums)
    
    if r1 > 0 and summ > 0:
        mean = summ / r1
    else:
        mean = 0
    
    
    return mean

find_average([1,3,5,7])

4.0

Complete the function that takes two integers (a, b, where a < b) and return an array of all integers between the input parameters, including them.

For example:

a = 1
b = 4
--> [1, 2, 3, 4]

In [3]:
def between(a,b):
    
    return list(range(a, b + 1))



between(2,4)

[2, 3, 4]

Return the Nth Even Number

Example(Input --> Output)

1 --> 0 (the first even number is 0)
3 --> 4 (the 3rd even number is 4 (0, 2, 4))
100 --> 198
1298734 --> 2597466

The input will not be 0.

In [4]:
def nth_even(n):
    even_number = 2 * (n - 1)
    
    return even_number

nth_even(3)

4

Simple, given a string of words, return the length of the shortest word(s).

String will never be empty and you do not need to account for different data types.

In [6]:
def find_short(s):
    elist = s.split()
    
    elist2 =  [len(i) for i in elist]
    
    return min(elist2)

find_short("turns out random test cases are easier than writing out basic ones")

3

Please write a function that sums a list, but ignores any duplicate items in the list.

For instance, for the list [3, 4, 3, 6] , the function should return 10.

In [7]:
def sum_no_duplicates(l):
    unique_list = []

    counts = {}

    for element in l:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1


    for element, count in counts.items():
        if count > 1:
            
            for _ in range(count):
                l.remove(element)

    return sum(l)

sum_no_duplicates([1,1,2,3,4])

5